extends layout

block content
    h2.page-header Login
    p Please login below
    form(method='post', action='/user/login', enctype='multipart/form-data')
        label Username
        input.form-control(name='username', type='text',placeholder='Enter User name')
        .form-group
        label Password
        input.form-control(name='password', type='password',placeholder='Enter Password')
    input.btn.btn-primary(type = 'submit', name = 'submit', value='Login')